{% extends "MyAppUserBundle:User:dashboard.html.twig" %}

{% block body %}
    
    <center>
  <h1>User edit</h1>
    {{ form(edit_form) }}

        
    
        <a href="{{ path('user') }}">
            Back to the list
        </a>
   
  {{ form(delete_form) }}

    
    </center>
{% endblock %}
